# Framework principal
fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.6.1
pydantic-settings==2.1.0
python-dotenv==1.0.0
python-multipart==0.0.7

# Clientes de IA
groq==0.4.1
openai==1.12.0
google
google-genai

# Generacion de PDFS
pdfkit==1.0.0
markdown2==2.4.10
WeasyPrint==60.1

# Utilidades
httpx==0.26.0

# Procesamiento de texto y analisis
nltk==3.8.1
tiktoken==0.5.2
